<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NEW Compiler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" th:src="${style.css}"> -->
    <!--    <link rel="stylesheet"  type="text/css" href="https://alagris.github.io/web/style.css">-->
    <link rel="stylesheet"  type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/ico" href="images/logo_s.ico"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script> -->

    <style>
        body {
            background: #213040; /*url(images/bg.jpg); Цвет фона и путь к файлу */
            color: white;
        }
        .button {
        /* background-color: rgb(16, 172, 76);  */
        /* border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px; */
        cursor: pointer;
      }
      .fbut{
        background-color: rgb(16, 172, 76);
      }
      .cbut{
        background-color: rgb(228, 231, 24);
      }
      .sbut{
        background-color: rgb(24, 15, 161);
      }
      .ibut{
        background-color: rgb(21, 180, 201);
      }
      .bong{background-color: #18222d;}
      </style>
    <style type="text/css">
        #jsEditor{
            height:49vh
        }
        .av{
          background-color: #18222d;
        }
    </style>

    <script>
      window.onload = function(){
          document.getElementById('save').onclick = function(){
            var a = document.createElement("a")
            a.setAttribute("href", "data:text/plain," + document.getElementById('output1').innerHTML.replace(/<br>/g, encodeURIComponent("\r\n"))); //myTextarea
            a.setAttribute("download", "filename.txt");
            a.click();
          };
      };
      </script>

    <script type="text/javascript" src="js/ace/build/src/ace.js"></script>


    <script>

    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            if (xhr.status == 200) {
                document.body.innerText = 'Response: ' + xhr.responseText;
            } else {
                document.body.innerText = 'Error: ' + xhr.status;
            }
        }
    };


function submite() {
    var val = e.getSession().getValue();

    xhr.open('POST', '/examples/echo', true);
    xhr.send(val);
};
    </script>


</head>

</head>

<script type="text/javascript"
        src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<body >
<div class="wrapper">
    <div class="blocks">
        <div class="block">
            <div class="container">

                <!-- <p id="output1"></p> -->

                <!-- <textarea id="myTextarea" name="text_area" class="lined textareaa bong" rows="15" cols="80"></textarea> -->
                <div  id="jsEditor" class=" ace_editor ace-tm ace_focus" style=" background-color: #18222d;">A = [01ret] ;
//some comment here
B = [abcd\]e#:;fgh];
f()="re";
f: A -> B;
f()="010101":"ab";

k()=("hello adam":"hello world")*;

g: A -> B;
g()= "01" f "re":"re";
h()=("":"re#" [e-z] | " ":" " | "":"3" "abc" 1 )*;
j()=(1 "":"#" 3 [a-z] )*;

struct X{
a : A*,
b : B


"f":"bar" "o":"baz" "o":"boo"</div>
            </div>
        </div>
        <div class="block">

            <!-- <button class='butto play' type="button" onclick="AFunction()"></button> -->
            <div class="">
                <button class="btn" title="Run" type="button" onclick="runMealy() "><i class="fa fa-play-circle"></i></button>
                <button class="btn" title="Save to file" type="button" id="save" onclick="othername()"><i class="fa fa-folder"></i></button>

                <button class="btn" title="Compile" type="button"  onclick="compile()"><i class="fa fa-flag-checkered"></i></button>
                <button class="btn bii" title="Info" type="button"  onclick="window.location.href='/infpage'"><i class="fa fa-info-circle"></i></button>
                <button  type="button"  onclick="submite()">Submit</button>
            </div>
            <hr>
            <p><br></p>
            <p id="output1"></p>
        </div>
        <div class="block"> <textarea id="output" style="width: 100%; color: aliceblue; height: 100%; background-color: #324559;"></textarea> </div>
        <div class="block ">
            <!-- <div class="bor">
            <button class="button cbut"type="button"  onclick="myFunction()">check</button>
            <button class="button fbut" type="button" onclick="AFunction() ">run</button>
            <button class="button sbut"type="button" id="save" onclick="">save</button>
            <button class="button ibut"type="button" id="save" onclick="">info</button>
            </div> -->
        </div>
    </div>
</div>
<!-- <script>
  var Module = {
    print: (function() {
      var element = document.getElementById('output');
      return function(text) {
        element.innerHTML += text + "<br>";
      };
    })(),
    printErr: function(text) {
        if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
        if (0) {
          dump(text + '\n');
        }
    },
    canvas: (function() {
      var canvas = document.getElementById('canvas');
      return canvas;
    })()
  };
</script> -->
<!-- <script src="web_mealy_compiler.js"></script> -->
<script>
            $(function() {
              $(".lined").linedtextarea(
                {selectedLine: 2}
              );
            });
            </script>
<script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36251023-1']);
              _gaq.push(['_setDomainName', 'jqueryscript.net']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>



<!-- <a href="#" class="emptyLink" id="mapPrintLink" onclick="mapPrintExec();"></a> -->
<!-- <p id="demo">1</p> -->

<script>
  function myFunction() {
    // var x = document.getElementById("jsEditor").value;
    // document.getElementById("demo").innerHTML = x;

    var x =  jsEditor.getSession().getValue();
    document.getElementById("demo").innerHTML = x;

    // var x =  "123";   az" "o"
    // document.getElementById("demo").innerHTML = x;

  }




  </script>
<!-- <button type="button" onclick="location.src="test.js"">Test</button> -->

<script>
  function AFunction() {
    alert("coming soon...");
  }
  </script>
<script type='text/javascript'>

    var output = document.getElementById('output');
   // var output1 = document.getElementById('output1');
   var cub;
    var Module = {};

    function compile(){
      console.log(e.getSession().getValue())
      Module.ccall('compile',
      'void',
      ['string'],
      [e.getSession().getValue()])
    }
    function runMealy(){
      var input = e.getSession().getValue()
      console.log(output.value + "12345")
      var c = Module.ccall('run_global',
      'string',
      ['string'],
      [output.value])
      console.log(c + "88888");
      //output.value = c;
      cub = c;
     // output1.value = c;
      document.getElementById("output1").innerHTML = c;

    }
    function othername() {
    var input = cub + "23456";
    console.log(input);
    alert(input);
}


  </script>
<script async type="text/javascript" src="js/web_mealy_compiler.js"></script>

<script type="text/javascript">

    Module['onRuntimeInitialized'] = function() {

     console.log("wasm loaded ");
      // call the square function by

      console.log( Module.ccall);
    console.log(Module._testInt);
    console.log(Module._testInt());
    console.log( Module.ccall('testInt', // name of C function
'number', // return type
[], // argument types
[]));
  }
  </script>



<!-- <script type="text/javascript"> -->
<script>
    var e = ace.edit("jsEditor");
    e.getSession().setMode("ace/mode/mealy");
    e.setTheme("ace/theme/monokai");
    // e.session.setMode("ace/mode/mealy");
    e.getSession().setTabSize(1);
    e.renderer.setShowGutter(true)
   // e.setValue("Hello");;
    console.log(e.getValue());
   // var val = e.getSession().getValue();
  //  window.val = val;
    //print(val);

  </script>

<!--tyt-->

<!-- <script>
  window.onload = function(){

      var lengthOfName = e.getSession().getValue()


      document.getElementById('demo').innerHTML = lengthOfName;
  }; -->

<!-- <script src="test.js"></script>  -->


</body>

</html>