<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" th:src="${style.css}"> -->
<!--    <link rel="stylesheet"  type="text/css" href="https://alagris.github.io/web/style.css">-->
    <link rel="stylesheet"  type="text/css" href="css/style.css">
 <link rel="shortcut icon" type="image/ico" href="images/logo_s.ico"/>

</head>

<body style="background: url(/images/bg.png)">
<header>
    <div>
        <h1>NEW Compiler</h1>
       <!-- <img src="http://i.piccy.info/i9/5b440f677757fb381b9f833f81ef8d44/1605974072/8513/1406376/gt.png" alt=""/>-->
        <!-- <p class="pp">AMU</p> -->

        <!-- <img src = "img/logo.png" width="100px" class="leftimg" > -->

        <!-- <ul class="menu-main">
            <li><a href="index.html" class="current">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        -->
    </div>
</header>
<div class="getst">
     <p><a href="/compiler"><img  src="images/gt.png" alt="Get Started"></a></p>

     <!-- <p class="ctext">GET<br>STARTED</p> -->
</div>

<div id="rectangle">
    <!-- <ul class="lg">
      <li class="lg per">Perfomance</li>
      <li class="lg">Reliability</li>
      <li class="lg pro">Productivity</li>
     </ul>  -->
    <br>
    <table border="0" width="100%" cellpadding="5">
        <tr>
            <th class="btext">Perfomance</th>
            <th class="btext">Reliability</th>
            <th class="btext">Productivity</th>
        </tr>
        <tr>
            <th class="stext"><br>Lorem ipsum dolor sit amet, consectetur adipiscing<br>
                elit, sed do eiusmod tempor incididunt ut labore et dolore<br>
                magna aliqua. Ut enim ad minim veniam, quis <br>
                nostrud exercitation ullamco laboris nisi ut aliquip ex <br>
                ea commodo consequat.</th>
            <th class="stext"><br>Lorem ipsum dolor sit amet, consectetur adipiscing<br>
                elit, sed do eiusmod tempor incididunt ut labore et dolore<br>
                magna aliqua. Ut enim ad minim veniam, quis <br>
                nostrud exercitation ullamco laboris nisi ut aliquip ex <br>
                ea commodo consequat.</th>
            <th class="stext"><br>Lorem ipsum dolor sit amet, consectetur adipiscing<br>
                elit, sed do eiusmod tempor incididunt ut labore et dolore<br>
                magna aliqua. Ut enim ad minim veniam, quis <br>
                nostrud exercitation ullamco laboris nisi ut aliquip ex <br>
                ea commodo consequat.</th>
        </tr>

    </table>
</div>
</body>

</html>